VITE_SUPABASE_URL=https://zguwwgiagctaggersmtu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpndXd3Z2lhZ2N0YWdnZXJzbXR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ4MjA2NTMsImV4cCI6MjEwMDM5NjY1M30.hV_oxXo0zPBE5aDl2YH81BEZ3I95p5tOFswoQfRyFAg
